<div>
    <mat-toolbar color="primary" style="padding: 10px 50px">
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <a routerLink="/">Klugah's App</a>
        <div class="w-full">

        </div>

        <div class="flex gap5 items-center">
            <a mat-button routerLink="/signin">
                SignIn
            </a>

            <a mat-button routerLink="/signup">
                SignUp
            </a>
        </div>
    </mat-toolbar>
</div>